AmpuminenR1/obj/*
AmpuminenR1/bin/*
AmpuminenR1/.vs/
Ampumapäiväkirja/ConsoleApp3/obj/*
Ampumapäiväkirja/ConsoleApp3/bin/*
Ampumapäiväkirja/.vs/
Ampumapäiväkirjakonsoli/Ampumapäiväkirjakonsoli/obj/*
Ampumapäiväkirjakonsoli/Ampumapäiväkirjakonsoli/bin/*
Ampumapäiväkirjakonsoli/.vs/
